body {
	background-image: url("../img/koreaCity.jpg");
}

.wrapper {
	max-width: 768px;
	margin: 0 auto;
	background-color: white;
}

h1 {
	text-align: center;
	background: #A0A5DB;
}

.theme {
	
	font-size: 30px;	 
	font-family: cursive;
}


#flag {
	background-image: url("../img/lippu.jpg");
	height: 80px;
	margin: 0px 0px 25px 0px;
}

.heading{
	text-align: center;
	color: #288;
	background: e3e3e3;
	font-size: 50px;
	margin: 0px 0px 25px 0px;
	

}

