/*--- Common ---*/

* {
	box-sizing: border-box;
}

body {	
	font-family: Arial, Helvetica, sans-serif; /* Font stack */
	background-image: url("../img/backgroundtex3.png");
	margin: 0;
}

.clearfix:after {
	content: '';
	display: block;
	clear: both;
}

.vertical-center {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

input[type="text"], textarea, select {
	width: 100%;
}

hr {
	height: 1px;
	background: #ccc;
	border: 0;
}

.responsive-image {
	max-width: 100%;
}

/*--- Header ---*/

header {
	text-align: center;
	border-bottom: 1px solid #ccc;
	margin-bottom: 20px;
}

header .header-background {
	height: 150px;
	background-image: url("../img/header-bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}

header h1 {
	color: #fff;
	margin: 0;
	font-size: 50px;
}

header nav {
	height: 50px;
	background: linear-gradient(#222, #333);
}

.nav-content {
	list-style:none;
	margin: 0;
	padding: 0;
}

.nav-content li {
	height: 50px;
}

.nav-content li a {
	text-decoration: none;
	color: #ccc;
	display: block;
}

.nav-content li a:hover {
	color: #fff;
}

.nav-content .site-logo {
	float: left;
}

.nav-content .menu-item {
	float: right;
	padding: 0 15px;
}

.nav-content .menu-item.active {
	background: linear-gradient(#000, #222);
}

.nav-content .menu-item.active a {
	color: #fff;
}

/*--- Layout ---*/

.main-content {
	float: left;
	width: 70%;
}

aside {
	float: left;
	width: 30%;
	padding-left: 20px;
}

.wrapper {
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 15px;	
}

.col-2 {
	float: left;
	text-align: right;
	padding-right:15px;
	width: 20%;
}

.col-8 {
	float: left;
	width: 80%;
}

.col-2, .col-8 {
	min-height: 1px;
}

/*--- Form ---*/

.form-row {
	margin-bottom: 8px;
}

.form-row:after {
	content: '';
	display: block;
	clear: both;
}

textarea {
	vertical-align: top;
}

/*--- Panel ---*/

.panel {
	border: #ccc 1px solid;
}

.panel-container {
	padding: 1px 20px 20px;
	background: #fff;
}

.panel + .panel {
	margin-top: 20px;
}

/*--- Post ---*/

.post-meta {
	color: #666;
	font-size: 14px;
}

.post-image {
	height: 175px;
	overflow: hidden;
}

.post-image img {
	width: 100%;
	height: auto; /*pakottaa kuvasuhteen pysymään alkuperäisenä */
}

.post h2, .single-post h2 {
	font-size: 26px;
	margin-bottom: 10px;
}

.post-meta + hr {
	margin-top: 16px;
}


.post a {
	text-decoration: none;
	color: #000;
}

.post-title a:hover {
	color: #00b0ff;
}

.post .post-more {
	display: block;
	text-align:center;
	text-decoration: none;
	padding: 10px 0;
	color: #00b0ff;
	border: 1px solid #00b0ff;
}

.post-more:hover {
	background: #00b0ff;
	color: #FFF;
}

/*--- Single-Post ---*/

.single-post .post-meta {
	margin-bottom: 20px;
}

/*--- Bio ---*/

.bio-background {
	height: 150px;
	overflow: hidden;
}

.bio-background img {
	width: 100%;
	height: auto;
}

.bio {
	text-align: center;
	position: relative;
}

.bio-face-image {
	width: 100px;
	height: 100px;
	overflow: hidden;
	border-radius: 50%;
	position: absolute;
	left: 50%;
	margin-left: -50px;
	top: 100px;
	border: 3px solid #fff;
}

.bio-face-image img {
	width: auto;
	height: 100%;
}

.bio .panel-container {
	padding: 35px 20px 15px;
}

@media (max-width: 767px) {
	.wrapper {
		padding: 0 5px 10px;
	}

	.main-content, aside {
		width: 100%;
	}
	
	aside {
		padding-left: 0;
		margin-top: 20px;
	}
} 

