*{
	box-sizing: border-box;
}

.wrapper {
	max-width: 768px;
	margin: 0 auto;
}


.form-row{
	margin-bottom: 8px;
}

.form-row input{
	display: inline-block;
}

.form-label{
	display: inline-block;
	text-align: right;
	padding-right:15px;
	width: 15%;
}

.form-input{
	display: inline-block;
	width: 85%;
}



h1 {
	text-align: center;
	background: #A0A5DB;
}

.theme {
	
	font-size: 30px;	 
	font-family: cursive;
}

textarea {
	vertical-align: top;
}


#flag {
	background-image: url("../img/lippu.jpg");
	height: 80px;
	margin: 0px 0px 25px 0px;
}

.heading{
	text-align: center;
	color: #288;
	background: e3e3e3;
	font-size: 50px;
	margin: 0px 0px 25px 0px;
	

}

